body {
    font-size: 25px;
    font-size: 1.5rem;
}

.container-custom {
    width: 80%;
    margin: 0 auto;
}

.navbar {
    padding-top: 40px;
}

.navbar ul li {
    padding-right: 15px;
    font-size: 20px;
}

header img {
    position: absolute;
    height: 1240px; 
    width: 100%;
    object-fit: cover;
    right: 0;
    z-index: -1; 
}

.header-box {
    height: 800px;
    width: 50%;
    margin-top: 300px;
}

.header-box h1 {
    font-size: 75px;
    font-weight: bold;
}

.header-box p {
    font-size: 25px;
    line-height: 55px;
}

.header-box .header-form-container,
.header-box form {
    background-color: white;
    height: 90px;
    border-radius: 20px;
}

.header-box .header-form-container {
    width: 75%;
    margin: 50px 0 0;
}

.header-box form input {
    border: none;
}

.header-box form button {
    width: 200px;
    margin: 10px;
}

.information-box{
    text-align: center;
    padding-top: 300px;
}

.information-box h2{ 
    padding-bottom: 20px;
}

.information-box p{ 
    padding-bottom: 40px;
}

.card{
    border: 0px;
    padding: 40px;
}

.card .card-title,
.card .card-text {
    text-align: center;
}

.card .icon{ 
    width: 150px;
    margin: 0 auto;
}

.location {
    margin-top: 100px;
}

.location h3{
    font-size: 50px;
    padding-top: 90px;
}

.location p{
    margin-bottom: 80px;
}

.location h3,
.location-text{
    text-align: center;
}

.location-img{
    position: absolute;
    width: 100%;
    height: 420px;
    right: 0px;
    z-index: -1;
}

.location-box{
    text-align: center;
}

.location-box img {
    width: 50px;
    margin-top: 10px;
}

.about{
    margin-top: 200px;
}

.about h4{
    font-size: 80px;
}

.about img{
    width: 100%;
}

.sponsors{
    margin-top: 200px;
}

.sponsors h5{
    font-size: 70px;
}

.sponsors h5,
.sponsors p{
    text-align: center;
}

.about .about-content button{
    margin-top: 50px;
    font-size: 25px;
    width: 150px;
}

.sponsors .sponsors-img-container,
.sponsors .sponsors-img-container div{
    display: flex;
    justify-content: center;
    align-items: center;
    size: auto;
}

.sponsors .sponsors-img-container div:nth-child(1){
    justify-content: end;
}

.sponsors .sponsors-img-container div:nth-child(5){
    justify-content: start;
}

.sponsors .sponsors-img-container div img{
    height: 100%;
}

.contacts{
    margin-top: 200px;
    text-align: center;
    margin-bottom: 200px;
}

.contacts h6{
    font-size: 70px;
}

.contacts img{
    width: 150px;
}

.contacts button{
    font-size: 30px;
    padding: 10px 35px;
}

footer .footer-container{
    padding-top: 100px;
}

footer .background{
    position: absolute;
    width: 100%;
    height: 730px;
    right: 0px;
    z-index: -1;
}

footer ul{
    list-style: none;
}

footer ul li a,
footer p{
    text-decoration: none;
    color: white;
    line-height: 80px;    
}

.footer-social-img{
    width: 400px;
    height: auto;
    float: right;
}

@media (max-width: 2100px) {
    .location-img{
        height: 470px;
    }
}

@media (max-width: 1634px) {
    footer .background{
        height: 770px;
    }
}

@media (max-width: 1505px) {
    footer .background{
        height: 900px;
    }
}

@media (max-width: 1400px) {
    .header-box {
        width: 90%;
        margin-top: 180px; 
    }

    .header-box h1,
    .header-box p{
        text-align: center;
    }

    .header-box .header-form-container {
        width: 85%;
    }

    footer .background{
        height: 1010px;
    }
}

@media (max-width: 1199px) {
    .location-img{
        height: 1080px;
    }

    .location p{
        text-align: center;
        width: 250px;
        margin: 0 auto;
    }

    .location .location-text{
        margin-bottom: 80px;
    }

    .location-box img {
        width: 50px;
        padding: 40px 0;
        transform: rotate(90deg);
    }

    .about .about-content button{
        width: 100%;
    }

    .sponsors .sponsors-img-container img{
       width: 500px; 
    }   

    .sponsors .sponsors-img-container div:nth-child(1){
        justify-content: center;
    }

    .sponsors .sponsors-img-container div:nth-child(4),
    .sponsors .sponsors-img-container div:nth-child(5){
        display: none;
     }

     footer .background{
        height: 1150px;
    }
}

@media (max-width: 993px) {
    footer .background{
        height: 1800px;
    }

    .footer-social-img{
        float: left;
    }
}

@media (max-width: 660px) {
    .container-custom {
        width: 95%;
    }

    header img {
        height: 800px; 
    }

    .header-box {
        width: 100%;
        margin-top: 100px;
    }

    .header-box h1 {
        font-size: 7vw;
    }

    .header-box p,
    .header-box .header-form-container {
        font-size: 3.5vw; 
        line-height: 8vw; 
    }

    .header-box .header-form-container {
        width: 100%; 
        height: 70px; 
    }

    .information-box{
        text-align: center;
        padding-top: 10px;
    }
}
